header {
  background-color: #5173b4;
  padding: 1.5rem;

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    color: #ede6d4;
    font-size: 1.2rem;
    font-family: "Abril Fatface", cursive;
    letter-spacing: 1px;

    li {
      margin-left: 1.5rem;
    }
  }
}

.list-resume {
  background-color: #ec9a94;
  padding: 0.5rem;
  width: 100px;
  text-align: center;
  border-radius: 3px;
}
