@use "../../../scss/base";
@use "../../../scss/breakpoints";

.container {
  background-color: var(--main-content-background-color);
  padding: 3rem 0 3rem 6.5rem;
  height: auto;

  @include breakpoints.tab {
    padding-inline: 3rem;
  }

  .title-container {
    h1 {
      @extend h1;

      span.dot {
        color: base.$color-red;
        font-size: 2.2rem;
        margin-left: 5px;
      }
    }
  }

  .text-container {
    width: 50%;

    @include breakpoints.tab {
      margin: 0 auto;
      width: 100%;
    }

    p {
      color: var(--content-text-color);
      font-size: 1.1rem;
      line-height: 1.6rem;
      margin: 2rem 0;

      span {
        font-size: 1.3rem;
        font-weight: bold;
      }
    }

    button {
      color: var(--content-text-color);
      font-family: base.$font-base;
      border-radius: 3px;
      margin-top: 2rem;
      padding: 4px 30px;
    }
  }

  .tech-container {
    margin-top: 4rem;

    .tech-inner-container {
      margin-top: 2rem;

      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        color: var(--content-text-color);
        font-size: 1.2rem;
        font-weight: bold;
        list-style: none;

        @include breakpoints.tab {
          justify-content: center;

          li {
            text-align: center;
            border-radius: 3px;
            padding: 0.5rem;
            width: 8rem;
          }
        }
      }
    }
  }
}
