<header>
  <nav>
    <ul [class.show]="isNavVisible">
      <li *ngFor="let item of navItems">
        <a href="{{ item.url }}">{{ item.name }}</a>
      </li>
    </ul>
  </nav>

  <div class="theme-switcher">
    <label class="swtich">
      <input
        type="checkbox"
        [checked]="isLightTheme"
        (change)="onThemeSwitchChange()"
      />
      <span class="slider"></span>
      <img src="../../../assets/theme/light.svg" alt="Theme" />
      <img src="../../../assets/theme/dark.svg" alt="Theme" />
    </label>
  </div>

  <app-side-bar></app-side-bar>
</header>
