<header>
  <nav>
    <ul>
      <li><a (click)="navSmoothScroll('about')">About</a></li>
      <li><a (click)="navSmoothScroll('work')">My Work</a></li>
      <li><a (click)="navSmoothScroll('contact')">Contact</a></li>
      <li class="list-resume">Resume</li>
    </ul>
  </nav>

  <div class="theme-switcher">
    <label class="swtich">
      <input
        type="checkbox"
        [checked]="isLightTheme"
        (change)="onThemeSwitchChange()"
      />
      <span class="slider"></span>
    </label>
  </div>

  <app-side-footer></app-side-footer>
</header>
