// @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Geologica:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.container {
  //   background-image: url(../assets/bg/bg.svg);
  //   background-position: center;
  //   background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 0 140px;
  //   background-color: #303030;
  background-color: #ede6d4;
  height: 100vh;

  .inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

h1 {
  color: #5173b4;
  //   color: #ede6d4;
  font-size: 3rem;
  // font-family: "Playfair Display", serif;
  font-family: "Abril Fatface", cursive;
}

h2 {
  color: #5173b4;
  font-family: "Abril Fatface", cursive;
  margin-bottom: 10px;
  //   color: #ede6d4;
  //   font-size: 2rem;
}

p {
  color: #e58d05;
  // font-family: "Playfair Display", serif;
  // font-family: "Geologica", sans-serif;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 1px;
}

.intro {
  display: flex;
}

.front-end-developer {
  display: flex;
  font-size: 3rem;
}

.dot_1 {
  color: #fe3d00;
  margin-left: 10px;
  font-size: 3rem;
}

.dot_2 {
  color: #fe3d00;
  margin-left: 10px;
}

.intro-location {
  font-size: 1.5rem;
  margin-top: 10px;
}

.image-container {
  display: flex;
  justify-content: center;

  img {
    //   transform: rotate(90deg);
    height: 100vh;
  }
}
