<div class="container">
  <div class="title-container">
    <p class="title-small">Hi, I'm</p>

    <div class="main-container">
      <p>Emmy Manning<span>.</span></p>
    </div>

    <div class="main-container">
      <p>Frontend Developer<span>.</span></p>
    </div>

    <p class="title-small">Beaver, PA</p>
  </div>

  <div class="image-container">
    <img src="../assets/image/ab-image.png" alt="Image" class="ab-image" />
  </div>

  <div class="ab-container">
    <img src="../assets/image/ab_1.png" alt="Image" class="ab_1" />
    <img src="../assets/image/ab_2.png" alt="Image" class="ab_2" />
    <img src="../assets/image/ab_3.png" alt="Image" class="ab_3" />
    <img src="../assets/image/ab_4.png" alt="Image" class="ab_4" />
  </div>
</div>
