@use "../../../scss/base";

.container {
  display: flex;
  justify-content: space-between;
  background-color: var(--main-content-background-color);
  transition-duration: 500ms;
  padding: 0 140px;
  height: 100vh;

  .title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.title-small {
  color: base.$color-orange;
  font-family: base.$font-base;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 10px 0;
}

.main-container {
  display: flex;
  color: base.$color-blue;
  font-family: base.$font-base;
  font-size: 3.5rem;
  font-weight: bold;

  .dot {
    color: base.$color-red;
    font-size: 3.5rem;
    margin-left: 5px;
  }
}

.image-container {
  display: flex;
  justify-content: center;

  img {
    height: 100vh;
  }
}
