@use "../../../scss/base";

.container {
  display: flex;
  justify-content: space-between;
  background-color: var(--main-content-background-color);
  transition-duration: 500ms;
  padding: 0 140px;
  height: 100vh;

  .inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

h1 {
  color: base.$color-blue;
  font-family: base.$font-title-base;
  font-size: 3rem;
}

h2 {
  color: base.$color-blue;
  font-family: base.$font-title-base;
  margin-bottom: 10px;
}

p {
  color: base.$color-orange;
  font-family: base.$font-title-base;
  letter-spacing: 1px;
}

.intro {
  display: flex;
}

.front-end-developer {
  display: flex;
  font-size: 3rem;
}

.dot_1 {
  color: base.$color-red;
  font-size: 3rem;
  margin-left: 10px;
}

.dot_2 {
  color: base.$color-red;
  margin-left: 10px;
}

.intro-location {
  font-size: 1.5rem;
  margin-top: 10px;
}

.image-container {
  display: flex;
  justify-content: center;

  img {
    height: 100vh;
  }
}
