<div class="side-footer-container">
  <span></span>
  <a href="mailto:eobcre@gmail.com" target="_blank" rel="noopener noreferrer">
    <p>eobcre@gmail.com</p>
  </a>
  <div class="icon-container">
    <a
      href="https://www.linkedin.com/in/emmymanning/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <fa-icon [icon]="faLinkedin" size="2x" class="icon-linkedin"></fa-icon>
    </a>

    <a
      href="https://github.com/eobcre"
      target="_blank"
      rel="noopener noreferrer"
    >
      <fa-icon [icon]="faGithub" size="2x" class="icon-github"></fa-icon>
    </a>

    <a
      href="https://www.instagram.com/emanning.dev/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <fa-icon [icon]="faInstagram" size="2x" class="icon-instagram"></fa-icon>
    </a>
  </div>
</div>
