@use "../../../scss/base";

.work-container {
  background-color: var(--main-content-background-color);
  padding: 4rem 0;
  height: auto;

  .title-container {
    display: flex;
    justify-content: center;
  }

  h1 {
    @extend h1;
  }

  .dot {
    color: base.$color-red;
    font-size: 2.2rem;
    margin-left: 5px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px 0;
    width: 80%;

    .main-container {
      display: flex;
      justify-content: space-between;
      padding: 50px 0;
    }

    .app-image {
      position: absolute;
      z-index: 10;
      border-radius: 10px;
    }

    .ab-image {
      position: relative;
      top: 2rem;
      left: 12rem;
      transform: rotate(90deg);
    }

    .main-sub-container {
      display: flex;

      h2 {
        color: base.$color-blue;
        font-family: base.$font-base;
        font-size: 1.3rem;
      }

      p {
        font-family: base.$font-base;
      }
    }
  }
}
