@use "../../../scss/base";

.work-container {
  background-color: var(--main-content-background-color);
  padding-left: 3rem;
  height: auto;

  .intro {
    display: flex;
    justify-content: center;
  }

  h1 {
    color: base.$color-orange;
    font-family: base.$font-base;
    font-size: 2.2rem;
    padding-bottom: 3rem;
  }

  .dot {
    color: base.$color-red;
    font-size: 2.2rem;
    margin-left: 5px;
  }

  .inner-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0;
    width: 500px;

    .app-image {
      position: absolute;
      z-index: 10;
      border-radius: 10px;
      margin-left: 50px;
    }

    .ab-image {
      position: relative;
      top: 2rem;
      left: 16.5rem;
      transform: rotate(90deg);
    }

    h2 {
      color: base.$color-blue;
      font-family: base.$font-base;
      font-size: 1.3rem;
    }

    p {
      font-family: base.$font-base;
    }
  }
}
