@use "../../../scss/base";

.work-container {
  background-color: var(--main-content-background-color);
  padding: 4rem 2.5rem;
  height: auto;

  .intro {
    display: flex;
    justify-content: center;
  }

  h1 {
    color: base.$color-orange;
    font-family: base.$font-base;
    font-size: 2.2rem;
  }

  .dot {
    color: base.$color-red;
    font-size: 2.2rem;
    margin-left: 5px;
  }

  .inner-container {
    display: flex;
    justify-content: center;
    padding: 40px 0;

    img {
      border-radius: 5px;
      width: 670px;
      height: 450px;
    }

    h2 {
      color: base.$color-blue;
      font-family: base.$font-base;
      font-size: 1.3rem;
    }

    p {
      font-family: base.$font-base;
    }
  }
}
