<div class="work-container">
  <div class="title-container">
    <h1>Work</h1>
    <h1 class="dot">.</h1>
  </div>
  <div class="wrapper">
    <div *ngFor="let workData of workData" class="main-container">
      <img
        [src]="workData.image"
        alt="{{ workData.name }}"
        width="400"
        class="app-image"
      />
      <img
        src="../../../assets/image/ab-image.png"
        alt="png"
        width="200"
        class="ab-image"
      />
      <div class="main-sub-container">
        <h2>{{ workData.name }}</h2>

        <img
          src="../../../assets/image/underline.png"
          alt="Image"
          width="150"
        />

        <div class="button-container">
          <app-button
            [buttonName]="buttonApp"
            [url]="workData.url"
          ></app-button>
          <app-button
            [buttonName]="buttonCode"
            [url]="workData.url_src"
          ></app-button>
        </div>
      </div>
    </div>
  </div>
</div>
