[data-theme="light"] {
  --main-content-background-color: #ede6d4;
  --main-content-text-color: #303030;
  --theme-switch-background-color: #cccccc;
  --theme-switch-before-background-color: #ede6d4;
  --theme-switch-checked-background-color: #2196f3;
}

[data-theme="dark"] {
  --main-content-background-color: #303030;
  --main-content-text-color: #ede6d4;
  --theme-switch-background-color: #cccccc;
  --theme-switch-before-background-color: #ede6d4;
  --theme-switch-checked-background-color: #2196f3;
}
