@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

$color-blue: #5173b4;
$color-orange: #e58d05;
$color-red: #fe3d00;
$color-cream: #ede6d4;
$color-pink: #ec9a94;

$font-title-base: "Abril Fatface", cursive;
$font-p-base: Arial, sans-serif;
