$color-blue: #5173b4;
$color-orange: #e58d05;
$color-red: #fe3d00;
$color-cream: #ede6d4;
$color-pink: #ec9a94;

$font-base: "Trebuchet MS", sans-serif;

h1 {
  color: $color-orange;
  font-family: $font-base;
  font-size: 2.2rem;
  padding: 3rem 0;
}
