@use "../scss/breakpoints";

$color-blue: #5173b4;
$color-orange: #e58d05;
$color-red: #fe3d00;
$color-cream: #ede6d4;
$color-pink: #ec9a94;

$font-base: "Abril Fatface";

@font-face {
  src: url("../assets/font/font.woff2") format("woff2");
  font-family: $font-base;
  font-display: swap;
}

h1 {
  color: $color-orange;
  font-family: $font-base;
  font-size: 2.2rem;
  padding: 3rem 0;

  @include breakpoints.tab {
    font-size: 2rem;
  }
}

button {
  background-color: $color-blue;
  color: $color-cream;
  font-family: $font-base;
  font-size: 1.2rem;
  letter-spacing: 1px;
  border: none;
  border-radius: 30px;
  padding: 1rem;
  width: 9rem;

  p {
    &:hover {
      color: $color-orange;
      transition-duration: 0.7s;
    }
  }
}
