$pc: 1400px;
$md: 1200px;
$sm: 1000px;
$tab: 800px;
$sp: 400px;

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}

@mixin md {
  @media (max-width: ($md)) {
    @content;
  }
}

@mixin sm {
  @media (max-width: ($sm)) {
    @content;
  }
}

@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
