@use "../../../scss/base";

.contact-container {
  background-color: var(--main-content-background-color);
  padding: 4rem 0;
  height: auto;

  .wrapper {
    padding: 40px 0;
  }

  .intro {
    display: flex;
    justify-content: center;
  }

  h1 {
    @extend h1;
  }

  .dot {
    color: base.$color-red;
    font-size: 2.2rem;
    margin-left: 5px;
  }

  form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;

    label {
      color: base.$color-blue;
      font-family: base.$font-base;
    }

    input,
    textarea {
      border-radius: 3px;
      border: none;
      outline: none;
      margin: 10px 0;
      padding: 10px;
    }

    textarea {
      resize: none;
    }

    .button-container {
      margin: 0 auto;
    }
  }
}
