@use "../../../scss/base";

.contact-container {
  background-color: var(--main-content-background-color);
  height: 100vh;

  h1 {
    text-align: center;
    color: base.$color-orange;
    font-family: base.$font-base;
    font-size: 2.2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
  }
}
