<div class="contact-container">
  <div class="wrapper">
    <div class="intro">
      <h1>Contact</h1>
      <h1 class="dot">.</h1>
    </div>

    <form (submit)="sendEmail($event)">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required />

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />

      <label for="message">Message:</label>
      <textarea id="message" name="message" rows="5" required></textarea>

      <div class="button-container">
        <app-button-send
          [buttonName]="buttonSend"
          type="submit"
        ></app-button-send>
      </div>
    </form>
  </div>
</div>
